

body{
    background-color: black;
    margin: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    text-align: center;
}

h2,h3,h4{
    margin:0;
    padding: 10px;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

a{
    color: seashell;
}

/* HEADER + NAV */

header{
    width: 100%;
    z-index: 1;
    min-height: 69px;
    height: auto;
    background-color: black;
    border-bottom: 1px solid seashell;
    align-items: center;
    position: fixed;
}

header img{
    height: 50px;
    padding-left: 10px;
}

nav{
    text-align: right;
    flex-grow: 1;
}

nav span{
    display: inline-block;
    padding:15px 10px;
}

/* SECTION: MISSION */

#mission{
    height: 700px;
    background-image: url("./Images/img-mission-background.jpg");
    padding-top: 70px;
    padding-bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
}

#mission .content{
    margin: auto;
    background-color: black;
    width: 100%;
    text-align: center;
}

/* SECTION: TEA OF THE MONTH */

#tea {
    height: auto;
    width: auto;
    margin: auto;
    padding-top: 70px;
    position: relative;

}

.item{
    padding: 5px;
    display: block;
}

.item img{
    width: 300px;
    height: 200px;
    margin: 10px;
    display: flex;
}

.item span{
    font-weight: bold;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* SECTION: LOCATION */

.flex-container.locations{
    padding: 5px;
}

.locations{
    background-image: url("./Images/img-locations-background.jpg");
    height: 100%;
    width: auto;
    max-width: 80%;
    align-items: center;
    position: relative;
    background-size: cover;
    background-position: center;
    padding-bottom: 15px;
    background-repeat: no-repeat;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

.locations.flex-container{
    margin: auto;
    width: 100%;
}


.location{
    background-color: black;
    margin: 5px 20px;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width: 300px;
    height: 300px;
    align-items: center;
}

/* SECTION: CONTACT */

#contact{
    height:200px;
}

/* FOOTER */

footer{
    text-align: left;
    padding-left: 20px;
}

@media only screen and (max-width: 800px){
    nav{
        text-align: center;
    }
    header img{
        padding-top: 15px;
    }
}
